doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Jordan Thornquest
    meta(
      name="description",
      content="Idaho musician Jordan Thornquest maps his mindstate with theatrical relish, producing a form of punk-informed power pop that's both candidly introspective and fearlessly extroverted."
    )
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:title", content="Jordan Thornquest")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://jordanthornquest.com")
    meta(
      property="og:image",
      content="https://res.cloudinary.com/deedobzcr/image/upload/q_auto,f_auto,w_1200/v1559763975/hurr.jpg"
    )

    link(rel="icon", href="/images/favicon.ico")
    link(rel="icon", href="/images/icon.svg", type="image/svg+xml")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="manifest", href="/manifest.webmanifest")

    meta(name="theme-color", content="#181C21")

  body !{content}
